/*  Estilos da pagina Index.html  */

.center {
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#menu li {
    display: inline;
    padding: 20px;
    font-size: 18px;
}

#menu li a {
    text-decoration: none;
    color: blue;
}

#menu li a:hover {
    color: darkslategray;
}

.wh {
    width: 400px;
    height: 400px;
}

.tm-rs {
    width: 30px;
    height: 30px;
    padding: 15px;
    margin-bottom: 0px;
}
.mb-50 {
    margin-bottom: 50px;
}
/*  Estilos da pagina contato.html    */

.ml-50{
    margin-left: 50px;
}

